.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.main {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
}
.article {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
}

.heading {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.articles {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
}

.articles li {
  margin: 1rem;
  flex-basis: calc(29% - 2rem);
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}

.articles li a {
  display: block;
  color: #333;
  text-decoration: none;
  
}

.articles li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.articles li h2 {
  font-size: 1.5rem;
  margin: 1rem;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

.articles li img {
  max-width: 100%;
  height: auto;
}

.articles li.bigArticle {
  flex-basis: calc(100% - 40px);
  margin-right: 40px;
  margin-bottom: 40px;
  }
  
  @media (max-width: 768px) {
  .articles li.bigArticle {
  flex-basis: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  }
  }
  